.card {
  background-color: #ffffff;
  width: 100rem;
  height: 50rem;
  border-radius: 1rem;
  color: #242424;
}

.card__title {
  padding: 2.4rem;
  border-bottom: 1px solid #c4c6cc;
}

.card__body {
  overflow: auto;
  height: 36rem;
  margin: 2.4rem;
}

.card__body::-webkit-scrollbar {
  // width: 5px;
  display: none;
}

.card__body::-webkit-scrollbar-track {
  background-color: #aaabaf;
  border-radius: 3px;
}

.card__body::-webkit-scrollbar-thumb {
  background-color: #7f8085;
  border-radius: 3px;
  transition: all 1s;
}

.card__body::-webkit-scrollbar-thumb:hover {
  background-color: #616161;
}

.card__content {
  height: 100%;
}
